<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoCov-info</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/ezgif.com-webp-to-png.png">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="/img/ezgif.com-webp-to-png.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body>
    <div class="container1" ng-app="MyApp2" ng-controller="MyCtrl2">
        <header>
            <nav>
                <a href="../index.html"><img src="/img/Component 1 – 1.png" class="logo-top"></a>
            </nav>
        </header>

        <div class="search-box">
            <!-- {{title}} -->
            <input type="text" name="search" placeholder="Search Helpline Number" class="search" ng-model="stateHelpline">
        </div>
        <div class="result">
            <div class="card1">
                <div>
                    State
                </div>
                <div>
                    Helpline Number
                </div>  
            </div>
            <div class="card1" ng-repeat="states in states | filter:stateHelpline">
                <div>
                    {{states.loc}}
                </div>
                <div>
                    {{states.number}}
                </div>  
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>